[submodule "app/static/css/normalize"]
	path = app/static/css/normalize
	url = git@github.com:necolas/normalize.css.git
[submodule "app/static/css/substratum"]
	path = app/static/css/substratum
	url = git@github.com:truetone/Substratum.git
[submodule "app/static/js/modernizr"]
	path = app/static/js/modernizr
	url = git@github.com:Modernizr/Modernizr.git
[submodule "app/static/js/fittext"]
	path = app/static/js/fittext
	url = git@github.com:davatron5000/FitText.js.git
