@import "substratum";
@import "normalize";


$border-color: #333;
$light-green: rgba(247,196,31,1);
$lime-green: rgba(204,243,144,1);
$red: rgba(255,0,61,1);
$orange: rgba(252,147,10,1);
$yellow: rgba(247,196,31,1);

body {
	padding: 2em;
	-o-transition: background-color .5s;
	-moz-transition: background-color .5s;
	-webkit-transition: background-color .5s;
	transition: background-color .5s;
}

.ft {
	display: block;
	font-family: 'Bevan', cursive;
	margin: 0 auto;
	text-align: center;
	width: 90%;
}

ol {
	border: 1px solid $border-color;
	display: inline-block;
	list-style: none;
	margin: 1em 0;
	padding: 0;
}

li {
}

fieldset {
	margin-top: 1em;
}

label {
	margin-left: .5em;
}

input {
	clear: both;
}

.section {
	padding: 1em;
}

.section-1 {
	background: $lime-green;
}

.section-2 {
	background: $red;
}

.section-3 {
	background: $orange;
}

.section-4 {
	background: $light-green;
}

.section-5 {
	background: $yellow;
}

.section-6 {
	background: $lime-green;
}

.section-7 {
	background: $red;
}

.section-8 {
	background: $orange;
}

.section-9 {
	background: $light-green;
}

.section-10 {
	background: $yellow;
}

.playing {
	background: $red;
	&:hover {
		background: $red;
	}
}
