<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% if section %}Section {{ section }}{% else %}Web Sockets &amp; Web Audio{% endif %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% block meta %}{% endblock %}
	<link href="/static/css/normalize/normalize.css" rel="stylesheet" media="all" />
	<link href="/static/css/styles.css" rel="stylesheet" media="all" />
	{% block css %}{% endblock %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	{% block js %}{% endblock %}
</head>
<body class="{{ section }}">
	<header role="banner">
		{% if section %}
			<h1>Section {{ section }}</h1>
		{% else %}
			<h1>Web Sockets &amp; Web Audio</h1>
		{% endif %}
	</header>
	<section role="main">
		{% block body %}{% endblock %}
	</section>
	<footer role="contentinfo">
	</footer>
	<script>
		/*
		var _gaq = _gaq || [];
	 	_gaq.push(['_setAccount', 'UA-XXXX-XX']);
	  	_gaq.push(['_trackPageview']);
	
	  	(function() {
	    		var ga = document.createElement('script'); ga.async = true;
	    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  	})();
		*/
	</script>
</body>
</html>
