{% extends "layout.html" %}
{% block meta %}

{% endblock %}

{% block css %}

{% endblock %}

{% block js %}

{% if access %}
	<script src="/static/js/console.js"></script>
    <script src="/static/js/handlebars.js"></script>

    {% raw %}
    <script id="clients-template" type="text/x-handlebars-template">
        <h2>Section {{ section }}</h2>
        <section class="section section-{{ section }}">
			<ul>
            {{#each clients}}
            <li class="client client-{{ @index }}">
                WebSocket Client {{ @index }}
            </li>
            {{/each}}
			</ul>
        </section>
    </script>
    {% endraw %}

{% endif %}

{% endblock %}

{% block body %}
	
	<section id="console"></section>

{% endblock %}
{% block controls %}
<section id="controls">
	<div class="column narrow first">
		<h1>Section 1</h1>
		<button class="color-changer" data-command="chcolor" data-section="1" data-color="rgba(255,0,61,1)">Red</button>
		<button class="color-changer" data-command="chcolor" data-section="1" data-color="rgba(247,196,31,1)">Yellow</button>
		<button class="color-changer" data-command="chcolor" data-section="1" data-color="rgba(252,147,10,1)">Orange</button>
	</div>
	<div class="column narrow">
		<h1>Section 2</h1>
		<button class="color-changer" data-command="chcolor" data-section="2" data-color="rgba(255,0,61,1)">Red</button>
		<button class="color-changer" data-command="chcolor" data-section="2" data-color="rgba(247,196,31,1)">Yellow</button>
		<button class="color-changer" data-command="chcolor" data-section="2" data-color="rgba(252,147,10,1)">Orange</button>
	</div>
	<div class="column narrow last">
		<h1>Section 3</h1>
		<button class="color-changer" data-command="chcolor" data-section="3" data-color="rgba(255,0,61,1)">Red</button>
		<button class="color-changer" data-command="chcolor" data-section="3" data-color="rgba(247,196,31,1)">Yellow</button>
		<button class="color-changer" data-command="chcolor" data-section="3" data-color="rgba(252,147,10,1)">Orange</button>
	</div>
</section>
{% endblock %}
